body{
	height: 100%;
	overflow: hidden;
	margin: 0;
}

* {
	box-sizing: border-box;
}

#templates {
	display: none;
}

#hulls,
#ship-list {
	width: 250px;
}

.ship-detail {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	cursor: pointer;
}

.ship-stats-bar span {
	width: 20px;
	display: inline-block;
}

.list-wrapper {
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	vertical-align: top;
	width: 260px;
}

.active {
	border: 2px solid;
	margin: -1px;
	height: 32px;
	width: calc(100% + 2px);
}

.type {
	display: inline-block;
	float: left;
	margin-left: 10px;
	line-height: 30px;
}

.ability {
	transition: max-height 0.25s;
	overflow: hidden;
}

.description {
    padding: 0 10px 5px;
    display: inline-block;
}