body{
	height: 100%;
	overflow: hidden;
	margin: 0;
	display: flex;
	flex-direction: row;
}

* {
	box-sizing: border-box;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

#templates {
	display: none;
}

#map {
	height: 100vh;
	border: 10px solid gray;
	flex: 4;
	overflow: hidden;
	background-color: var(--map-background);
}

#map {
}

#home-button {
	height: 40px;
	width: 40px;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: var(--home-z);
}

.hex-row {
	height: 120px;
	overflow: visible;
	white-space: nowrap;
}

.hex-row:nth-child(even) {
	padding-left: 66px;
}

.hex {
	position: relative;
	display: inline-block;
	width: var(--hex-width);
	font-size: 208px;
}

.hex.seen {
	color: var(--hex-background);
}

.hex {
	color: var(--unseen-hex-background);
}

.hex.capital {
	color: var(--capital) !important;
}

.hex.red.seen {
	color: var(--enemy);
}

.hex.blue.seen {
	color: var(--friendly);
}

.hex.selected {
	text-shadow: 0 0 10px;
}

.base {
	fill: var(--default-unit);
	stroke: var(--default-unit);
	position: absolute;
	top: 129px;
	left: 62.5px;
	stroke-width: 2;
}

.base.trace {
	fill: transparent;
	stroke-width: 4;
	visibility: visible;
}

.ship {
	fill: var(--default-unit);
	stroke: var(--default-unit);
	position: absolute;
	stroke-width: 2;
	height: 20px;
	width: 20px;
}

.ship.trace {
	fill: transparent;
	stroke-width: 4;
	visibility: visible;
}

.moving {
	visibility: hidden;
}

.floating-menu {
	display: none;
	position:absolute;
	z-index: var(--context-z);
	padding: 2px 2px 0 2px;
	background-color: var(--menu-background);
	border: 2px ridge var(--menu-border);
}

#context-menu > * {
	display: none;
}

.floating-menu > .active ~ * {
	border-top: 1px solid var(--menu-border);
}

.floating-menu.active,
#context-menu .active {
	display: block;
}

.floating-menu.centred {
    top: 40%;
    left: 40%;
}

.context-menu-label {
	font-weight: bold;
	text-align: center;
}

#ship-info,
#ships-available {
	display: flex;
	flex-direction: row;
	flex: 2;
}

.fleet-info {
	flex: 5;
}

#timer {
	height: 54px;
	width: 54px;
	position: fixed;
	bottom: 20px;
	right: calc(20px + 20%);
	z-index: var(--timer-z);
	border-radius: 50%;
}

#timer-clock {
	transform: rotate(-90deg);
}

.circle_animation {
	transition: all .25s linear;
	stroke: var(--timer-colour);
}

.turn-ended {
	stroke: var(--turn-end-timer-colour);
}