body{
	height: 100%;
	overflow: hidden;
	margin: 0;
	display: flex;
	flex-direction: row;
}

* {
	box-sizing: border-box;
}

#templates {
	display: none;
}

#map {
	height: 100vh;
	border: 10px solid gray;
	flex: 4;
	overflow: hidden;
	background-color: #CCCCCC;
}

#map * {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

#home-button {
	height: 40px;
	width: 40px;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 10;
}

.hex-row {
	height: 120px;
	overflow: visible;
	white-space: nowrap;
}

.hex-row:nth-child(even) {
	padding-left: 66px;
}

.hex {
	position: relative;
	display: inline-block;
	width: 131px;
	font-size: 208px;
}

.hex {
	color: #000000;
}

.hex.red {
	color: #FF0000;
}

.hex.blue {
	color: #0000FF;
}

.hex.selected {
	text-shadow: 0 0 10px;
}

.base {
	fill: #999999;
	stroke: #999999;
	position: absolute;
	top: 129px;
	left: 62.5px;
	stroke-width: 2;
}

.base.trace {
	fill: transparent;
	stroke-width: 4;
	visibility: visible;
}

.ship {
	fill: #999999;
	stroke: #999999;
	position: absolute;
	stroke-width: 2;
	height: 20px;
	width: 20px;
}

.moving {
	visibility: hidden;
}

.floating-menu {
	display: none;
	position:absolute;
	z-index: 100;
	padding: 2px 2px 0 2px;
	background-color: #AAAAAA;
	border: 2px ridge #999999;
}

#context-menu > * {
	display: none;
}

.floating-menu > .active ~ * {
	border-top: 1px solid #999999;
}

.floating-menu.active,
#context-menu .active {
	display: block;
}

.context-menu-label {
	font-weight: bold;
	text-align: center;
}

#ship-info,
#ships-available {
	display: flex;
	flex-direction: row;
	flex: 2;
}

.fleet-info {
	flex: 5;
}

#timer {
	height: 54px;
	width: 54px;
	position: fixed;
	bottom: 20px;
	right: calc(20px + 20%);
	z-index: 10;
	border-radius: 50%;
}

#timer-clock {
	transform: rotate(-90deg);
}

.circle_animation {
	transition: all .25s linear;
	stroke: #6fdb6f;
}

.turn-ended {
	stroke: #6f6fdb;
}