body{
	height: 100%;
	overflow: hidden;
	margin: 0;
	display: flex;
	flex-direction: row;
}

* {
	box-sizing: border-box;
}

#templates {
	display: none;
}

#map {
	height: 100vh;
	border: 10px solid gray;
	flex: 4;
	overflow: hidden;
	background-color: #CCCCCC;
}

#map * {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

#home-button {
	height: 40px;
	width: 40px;
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 10;
}

.hex-row {
	height: 120px;
	overflow: visible;
	white-space: nowrap;
}

.hex-row:nth-child(even) {
	padding-left: 66px;
}

.hex {
  position: relative;
  display: inline-block;
  width: 131px;
  font-size: 208px;
}

.hex {
	color: #000000;
}

.hex.red {
	color: #FF0000;
}

.hex.blue {
	color: #0000FF;
}

.base {
	fill: #999999;
	stroke: #999999;
	position: absolute;
	top: 129px;
	left: 62.5px;
	stroke-width: 2;
}

#context-menu {
	display: none;
	position:absolute;
	z-index: 100;
	padding: 2px;
	background-color: #AAAAAA;
	border: 2px ridge #999999;
}

#context-menu > * {
	display: none;
}

#context-menu > *:not(:first-child) {
	border-top: 1px solid #999999;
}

#context-menu.active,
#context-menu .active {
	display: block;
}

.context-menu-label {
	font-weight: bold;
	text-align: center;
}

.sidebar {
	height: 100vh;
	flex: 1;
}

.accordion-bar {
	height: 25px;
	width: 100%;
	background: linear-gradient(-85deg, #888888, #777777);
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	border: 2px outset #666666;
	cursor: pointer;
	white-space: nowrap;
}

.accordion {
	overflow: hidden;
	transition: max-height 0.25s;
	max-height: 0px;
}

#ship-info {
	display: flex;
	flex-direction: row;
	flex: 2;
}

.ship-list {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.friendly {
	background-color: blue;
}

.enemy {
	background-color: red;
}

.ship-detail {
	width: 100%;
	border: 1px solid gray;
	height: 30px;
	position: relative;
}

.ship-stats-bar {
	height: 100%;
	top: 0;
	position: absolute;
	font-weight: bold;
	line-height: 30px;
}

.image {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: white;
	border: 1px solid black;
	position: relative;
	margin: 4px 5px;
}

.fleet-info {
	flex: 5;
}