.ship-position-0 {
    top: 93px;
    left: 57px;
}

.ship-position-1 {
    top: 112px;
    left: 34px;
}

.ship-position-2 {
    top: 140px;
    left: 22px;
}

.ship-position-3 {
    top: 165px;
    left: 34px;
}

.ship-position-4 {
    top: 189px;
    left: 57px;
}

.ship-position-5 {
    top: 93px;
    left: 87px;
}

.ship-position-6 {
    top: 112px;
    left: 110px;
}

.ship-position-7 {
    top: 140px;
    left: 122px;
}

.ship-position-8 {
    top: 165px;
    left: 110px;
}

.ship-position-9 {
    top: 189px;
    left: 87px;
}
