.sidebar {
	height: 100vh;
	flex: 1;
	min-width: 400px;
}

.accordion-bar {
	height: 25px;
	width: 100%;
	background: linear-gradient(-85deg, #888888, #777777);
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	border: 2px outset #666666;
	cursor: pointer;
	white-space: nowrap;
}

.accordion {
	overflow: hidden;
	transition: max-height 0.25s;
	max-height: 0px;
}

.loadout-select {
	text-align: center;
	border-top: 2px solid var(--menu-background);
	background: var(--light-border);
	font-style: italic;
}

.loadout-select.selected {
	font-weight: bold;
}

.friendly {
	background-color: var(--friendly);
}

.enemy {
	background-color: var(--enemy);
}

.ship-list {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.ship-detail {
	width: 100%;
	border: 1px solid gray;
	height: 30px;
	position: relative;
	min-width: 100px;
	display: inline-block;
}

#ships-available .partial-hull {
	display: none;
}

.ship-detail svg {
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
}

.ship-stats-bar {
	height: 100%;
	float: left;
	font-weight: bold;
	line-height: 30px;
	padding-left: 10px;
}

.ship-stats-bar span {
	width: 20px;
	display: inline-block;
	text-align: right;
}

.ship-ability-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 4px;
	margin-bottom: -4px;
}

.image {
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	margin: 4px 5px;
	float: left;
}

.ability-bar {
	float: right;
	padding: 2.5px;
	max-width: 92px;
	overflow: hidden;
	white-space: nowrap;
}

.ability-bar svg {
    margin: 1px;
}

.ship-detail .cost {
	float: right;
	line-height: 30px;
	font-weight: bolder;
	color: var(--cost);
	padding-right: 5px;
	min-width: 20px;
}

#empire-income {
	padding: 10px;
    background: var(--summary-background);
}

.income {
	width: 50%;
	text-align: center;
	float: right;
}

.power {
	color: var(--power);
}

.shield {
	color: var(--shield);
}

.repair {
	color: var(--repair);
}

.ship-stats-bar .partial-hull {
	width: 25px;
}

.partial-hull .max-hull {
	text-align: left;
}

.partial-hull .solidus {
	width: 5px;
}

#begin-game {
    margin: 10px 30%;
    width: 40%;
    align-self: center;
    font-size: large;
    border: 2px outset;
    padding-bottom: 3px;
}