:root {
	/* ----- Ship detail colours ----- */
	
	--power: orange;
	--cost: #ffdf00;
	--shield: skyblue;
	--repair: brown;
	
	/* ----- UI Component colours ----- */
	
	--summary-background: #add8e6;
	
	--friendly: blue;
	--enemy: red;
	
	--default-unit: #999999;
	--hex-background: #000000;
	--unseen-hex-background: #444444;
	--map-background: #cccccc;
	
	--menu-border: #999999;
	--menu-background: #aaaaaa;
	
	--timer-colour: #6fdb6f;
	--turn-end-timer-colour: #6f6fdb;
	
	/* ----- Map positioning ----- */
	
	--hex-width: 131px;
	
	/* ----- Z-indicies ----- */
	
	--timer-z: 10;
	--home-z: 10;
	--context-z: 20;
}